* {
    margin: 0;
    padding: 0;
}
input {
    width: 280px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}
a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    width: 500px;
    height: 200px;
    text-align: center;
}

.content a {
    display: inline-block;
    width: 100px;
    height: 54px;
    line-height: 52px;
    margin-left: -8px;
    background-color: #a9a9a9;
    color: #fff;
}
.content button {
    float: right;
    width: 60px;
    height: 40px;
    margin: 10px 20px 0 0;
    font-size: 16;
    cursor: pointer;
}
.prompt input {
    margin: 10px;
    width: 15px;
    height: 20px;
}
.hide {
    display: none;
}
.show {
    position: absolute;
    top: 53px;
    left: 48px;
    width: 292px;
    display: block;
    padding: 0 5px 10px 5px;
    text-align: left;
    border: 1px solid #a9a9a9;
}
.show li {
    padding: 5px;
    margin-top: 10px;
}
.error {
    color: red;
}
ul li {
    list-style: none;
}
.main {
    position: relative;
    width: 804px;
}
.clearfix:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
} 
.lf-main, .rt-main {
    width: 300px;
    height: 500px;
    border: 1px solid #f28eb2;
    float: left;
}
.rt-main {
    margin-left: 200px;
}
.main li {
    width: 298px;
    height: 60px;
    border: 1px solid #f28eb2;
    background-color: #eaf5a5;
}
.rt-main li {
    background-color: #81c6ed;
}
.dg-transparent {
    opacity: 0.6;
}

.containt {
    overflow: hidden;
    position: relative;
    }
.images {
    z-index: 1;
    position: absolute;
}
.images img {
    float: left;
}
.btn {
    position: absolute;
    left: 50%;
    z-index: 2;
    bottom: 10px;
    margin: 0 auto;
}
.btn span {
    width: 15px;
    height: 15px;
    display: inline-block;
    text-indent: -999px;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
    box-shadow: 0 0 10px 3px #d3d3d3 inset;
    background-color: #fff;
    cursor: pointer;
}
.btn .button {
    border: 1px solid #FAB24B;
    box-shadow: 0 0 10px 3px #fab24b inset;
}
.prev, .next {
	position: absolute;
    top: 50%;
    margin-top: -40px;
    z-index: 2;
    background-color: rgba(232,232,232,0.3);
    width: 50px;
    height: 80px;
    font-size: 55px;
    font-weight: 900;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    display: none;
    color: #eaeaea;
}

.prev {
    left: 30px;
}
.next {
    right: 30px;
}

